.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
:root {
    --date-picker-background: #1b1e27;
    --date-picker-foreground: #f7f7f7;
}
.date-input {
    display: flex;
    align-items: center;
    justify-content: right;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}
.comment-container {
    border: 1px solid #3d444d;
    border-radius: 4px;
    margin-bottom: 1em;
    background-color: #24001d;
}
.comment-container.comment-own {
    border: 1px solid #388bfd66;
    border-radius: 4px;
    background-color: transparent;
}
.comment-container:hover {
    border-color: #1f6feb;
    box-shadow: 0 0 0 1px #4493f8;
}
.comment-header {
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3d444d;
    font-size: 0.8em;
}
.comment-own .comment-header {
    border-bottom: 1px solid #388bfd66;
}
.comment-avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 0.5em;
}
.comment-timestamp {
    margin-left: auto;
}
.comment-header-username {
    font-weight: bold;
}
.comment {
    padding: 0.8em;
    position: relative;
}
.comment-footer {
    display: flex;
    font-size: 0.8em;
    background-color: #37002c;
    padding: 0.5em;
    border-top: 1px solid #3d444d;
}
.comment-own .comment-footer {
    background-color: #388bfd1a;
    padding: 0.5em;
    border-top: 1px solid #388bfd66;
}
.comment-link {
    text-decoration: none !important;
    color: inherit;
    font-weight: inherit;
}
.more, .pill {
    /* Pill style */
    background-color: #00183a;
    color: rgb(192, 192, 192);
    padding: 0.1em 1em;
    border-radius: 8px;
}
.more {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}
.issue-link {
    color: #388bfd;
}
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4%;
    border: 4px solid #a3a3a3;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #a3a3a3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.unique-issues-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    flex-wrap: wrap;
}
.unique-issues-container .pill {
    padding: 0.3em 0.5em;
    margin: 0.5em;
}
.unique-issues-container a {
    color: #65a2f3;
    font-weight: normal;
}
.unique-issues-container a:hover {
    background-color: #006eff;
    color: #fff;
    text-decoration: none;
}